@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #090623;
    --foreground: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #090623;
        --foreground: white;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.text-with-pink-stroke {
    text-shadow:
        2px 0 #db277811,
        -2px 0 #db277811,
        0 2px #db277811,
        0 -2px #db277811,
        1px 1px #db277811,
        -1px -1px #db277811,
        1px -1px #db277811,
        -1px 1px #db277811;
}

@layer utilities {
    @keyframes loop {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    }

    .animate-loop {
        animation: 20s loop linear infinite;
    }

    @keyframes gradient-animation {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 0%;
        }
    }

    .gradient-background {
        background:
            url('/images/noise.svg'),
            linear-gradient(
                170deg,
                #090623 20%,
                #2e1065 30%,
                #4a044e 35%,
                #db2777 45%,
                #db2777 55%,
                #4a044e 65%,
                #2e1065 70%,
                #090623 80%
            );
        background-blend-mode: overlay;
        background-size: 120% 120%;
        animation: gradient-animation 40s linear infinite;
    }

    .gradient-background-text {
        background:
            url('/images/noise.svg'),
            linear-gradient(
                170deg,
                #090623 20%,
                #2e1065 30%,
                #4a044e 35%,
                #db2777 50%,
                #4a044e 65%,
                #2e1065 70%,
                #090623 80%
            );
        background-blend-mode: overlay;
        background-size: 120% 120%;
        animation: gradient-animation 40s linear infinite;
        background-clip: text;
        color: transparent;
    }
}
